<a href="https://colab.research.google.com/github/KadjelRamkisoen/BertIR/blob/main_kate/files.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Mount google drive
from google.colab import drive
drive.mount('/content/drive')

# Path to data files
# IR_Path = '/content/drive/MyDrive/UvAntwerpen/2021-2022/Information Retrieval/Assignment 2/'
IR_Path = '/content/drive/MyDrive/Information Retrieval/Assignment 2/'

Mounted at /content/drive

In [2]:
dev_data = 'dev_data.csv'
all_docs = 'all_docs.csv'
dev_queries = 'dev_queries.csv'
test_data = 'test_data.csv'
training_data = 'training_data.csv'
lucene_data = 'raw_dev_Lucene_retrievals.csv'

In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv(IR_Path + training_data)

In [ ]:
# df.head() # - all docs

   doc_number                                           doc_text
0       31135  Estrogen patch types Common Questions and Answ...
1      317907  Answers.com ® Wiki Answers ® Categories Cars &...
2      188074  Vodka Tonic (7)Recipe by newspapergal“I couldn...
3      313468  From Wikipedia, the free encyclopedia (Redirec...
4       33071  1. Biogenic elements. Qualitative reaction for...

In [ ]:
df.head(50) # - training_data

   Query_number                                  Query  ...  index  label
0        166043  does estrogen make me start my period  ...  23076      1
1        284072             how many gallons is liters  ...  27572      1
2        277737        how many calories in skyy vodka  ...  79593      1
3       1059801        whos the third president of usa  ...  74658      1
4        237561      how is the element magnesium used  ...  28572      1

[5 rows x 6 columns]

In [ ]:
df[df.Query_number == 290830].shape

(29, 6)

In [ ]:
df["Query_number"].unique().shape

(4490,)

In [ ]:
df.groupby("label").count()

       Query_number  Query  doc_text  doc_number  index
label
0             70390  70390     70390       70390  70390
1             69610  69610     69606       69610  69610

In [ ]:
print(df.head())
print("total shape: ", df.shape)
print("unique query number: ", df['Query_number'].unique().shape)
print("unique document number: ", df['doc_number'].unique().shape)

   Query_number                                  Query  ...  index  label
0        166043  does estrogen make me start my period  ...  23076      1
1        284072             how many gallons is liters  ...  27572      1
2        277737        how many calories in skyy vodka  ...  79593      1
3       1059801        whos the third president of usa  ...  74658      1
4        237561      how is the element magnesium used  ...  28572      1

[5 rows x 6 columns]
total shape:  (140000, 6)
unique query number:  (4490,)
unique document number:  (105981,)

In [ ]:
df_lucene = pd.read_csv(IR_Path + lucene_data)

In [ ]:
print(df_lucene.head())
print("total shape: ", df_lucene.shape)
print("unique query number: ", df_lucene['Query_number'].unique().shape)
print("unique document number: ", df_lucene['doc_number'].unique().shape)

   Query_number  doc_number
0       1089071      476602
1       1089071      432658
2       1089071      429474
3       1089071      346632
4       1089071      122086
total shape:  (20003, 2)
unique query number:  (644,)
unique document number:  (18434,)

In [ ]:
df_queried = pd.read_csv(IR_Path + dev_queries)

In [ ]:
print("unique query number in queries file: ", df_queried.shape)

unique query number in queries file:  (644, 2)

In [ ]:
# training dataset
print(df.head())
print("total shape: ", df.shape)
print("unique query number: ", df['Query_number'].unique().shape)
print("unique document number: ", df['doc_number'].unique().shape)

   Query_number                                  Query  ...  index  label
0        166043  does estrogen make me start my period  ...  23076      1
1        284072             how many gallons is liters  ...  27572      1
2        277737        how many calories in skyy vodka  ...  79593      1
3       1059801        whos the third president of usa  ...  74658      1
4        237561      how is the element magnesium used  ...  28572      1

[5 rows x 6 columns]
total shape:  (140000, 6)
unique query number:  (4490,)
unique document number:  (105981,)

In [ ]:
df_test = pd.read_csv(IR_Path + test_data)

In [ ]:
df_test.head()

   Query_number  ...                                           doc_text
0       1101131  ...  areola Also found in: Thesaurus, Medical, Ency...
1       1101131  ...  Cars & Transportation Maintenance & Repairs My...
2       1101131  ...  1963-1982 Corvette Rear Bearing and U-Joint Ov...
3       1101131  ...  KTweet Page 1Kto Kumquats KTo see the letter "...
4       1101131  ...  Cars & Transportation Maintenance & Repairs Ho...

[5 rows x 4 columns]

In [ ]:
# testing dataset
print("total shape: ", df_test.shape)
print("unique query number: ", df_test['Query_number'].unique().shape)
print("unique document number: ", df_test['doc_number'].unique().shape)

total shape:  (1813, 4)
unique query number:  (60,)
unique document number:  (1799,)

In [ ]:
df_dev = pd.read_csv(IR_Path + dev_data)

In [ ]:
df_dev.head(5)

   Query_number  ...  label
0       1089071  ...      1
1       1089071  ...      1
2       1089071  ...      1
3       1089071  ...      1
4       1089071  ...      1

[5 rows x 5 columns]

In [ ]:
# dev dataset
print("total shape: ", df_dev.shape)
print("unique query number: ", df_dev['Query_number'].unique().shape)
print("unique document number: ", df_dev['doc_number'].unique().shape)

total shape:  (19992, 5)
unique query number:  (644,)
unique document number:  (18423,)

In [ ]:
df_docs = pd.read_csv(IR_Path + all_docs)

In [ ]:
df_docs.head()

   doc_number                                           doc_text
0       31135  Estrogen patch types Common Questions and Answ...
1      317907  Answers.com ® Wiki Answers ® Categories Cars &...
2      188074  Vodka Tonic (7)Recipe by newspapergal“I couldn...
3      313468  From Wikipedia, the free encyclopedia (Redirec...
4       33071  1. Biogenic elements. Qualitative reaction for...

In [ ]:
# documents
print("total shape: ", df_docs.shape)
print("unique document number: ", df_docs['doc_number'].unique().shape)

total shape:  (126203, 2)
unique document number:  (118837,)

In [ ]:
df_dev.head()

   Query_number  ...  label
0       1089071  ...      1
1       1089071  ...      1
2       1089071  ...      1
3       1089071  ...      1
4       1089071  ...      1

[5 rows x 5 columns]

In [ ]:
df_dev['rank'] = df_dev.groupby(['Query_number']).cumcount()+1

In [ ]:
df_dev.head(60)

    Query_number  doc_number  ... label rank
0        1089071      432658  ...     1    1
1        1089071      417115  ...     1    2
2        1089071      429474  ...     1    3
3        1089071      122086  ...     1    4
4        1089071       60461  ...     1    5
5        1089071      476602  ...     1    6
6        1089071      362869  ...     1    7
7        1089071      128382  ...     1    8
8        1089071      346632  ...     0    9
9        1089071       29215  ...     0   10
10       1089071      467667  ...     0   11
11       1089071      501419  ...     0   12
12       1089071      429264  ...     0   13
13       1089071      495110  ...     0   14
14       1089071      179867  ...     0   15
15       1089071      485663  ...     0   16
16       1089071      290962  ...     0   17
17       1089071      368513  ...     0   18
18       1089071      380769  ...     0   19
19       1089071      167997  ...     0   20
20       1089071       59460  ...     0   21
21       1089071      354986  ...     0   22
22       1089071      298022  ...     0   23
23       1089071      216641  ...     0   24
24       1089071      141153  ...     0   25
25       1089085      408240  ...     1    1
26       1089085      430821  ...     1    2
27       1089085      316625  ...     1    3
28       1089085      131285  ...     1    4
29       1089085      501118  ...     1    5
30       1089085       13154  ...     1    6
31       1089085      123721  ...     1    7
32       1089085      310143  ...     1    8
33       1089085       31044  ...     1    9
34       1089085      387331  ...     1   10
35       1089085      386679  ...     1   11
36       1089085      132776  ...     1   12
37       1089085      343035  ...     1   13
38       1089085      209037  ...     1   14
39       1089085      130386  ...     0   15
40       1089085      329467  ...     0   16
41       1089085      358832  ...     0   17
42       1089085      195159  ...     0   18
43       1089085      295893  ...     0   19
44       1089085      469691  ...     0   20
45       1089085      168816  ...     0   21
46       1089085      402173  ...     0   22
47       1089085      250366  ...     0   23
48       1089085       51753  ...     0   24
49       1089085      404856  ...     0   25
50       1089085      284429  ...     0   26
51       1089085       24175  ...     0   27
52       1089085      159344  ...     0   28
53       1089085      119495  ...     0   29
54       1089085      295065  ...     0   30
55       1089085      342543  ...     0   31
56       1089085      208376  ...     0   32
57       1089093      127232  ...     1    1
58       1089093      222018  ...     1    2
59       1089093      310193  ...     1    3

[60 rows x 6 columns]

In [ ]:
df['doc_len'] = df['doc_text'].apply(lambda words: len(words.split()))
max_seq_len = np.round(df['doc_len'].mean() + df['doc_len'].std()).astype(int)
sns.distplot(df['doc_len'], hist=True, kde=True, color='b', label='doc len')
plt.axvline(x=max_seq_len, color='k', linestyle='--', label='max len')
plt.title('plot length'); plt.legend()
plt.show()

AttributeError: ignored